@{
    ViewData["Title"] = "Account";
}


<main>
    <section id="title">
        <div class="container">
            <div class="page-title">
                <div class="left">
                    <p>MY ACCOUNT</p>
                </div>
                <div class="right">
                    <ul>
                        <li><a href="home.html">HOME</a></li>
                        <li>/</li>
                        <li>MY ACCOUNT</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>




    <section id="Login-register">
        <div class="container mt-5">
            <div class="input-box">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="inputs-area login">
                            <h3>Login</h3>
                            <form>
                                <div class="group inputs">
                                    <input required type="text">
                                    <span class="bar"></span>
                                    <label>Username or email address (required) *</label>
                                    <span class="validation">Please enter a valid message</span>
                                </div>

                                <div class="group inputs">
                                    <input required type="text">
                                    <span class="bar"></span>
                                    <label>Password (required) *</label>
                                    <span class="validation">Please enter a valid message</span>
                                </div>


                                <button type="submit">Log in</button>
                            </form>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="inputs-area register">
                            <h3>Register</h3>
                            <form>
                                <p>
                                    Create new account today to reap the benefits of a personalized shopping
                                    experience.
                                </p>

                                <div class="group inputs">
                                    <input required type="text">
                                    <span class="bar"></span>
                                    <label>Username or email address (required) *</label>
                                    <span class="validation">Please enter a valid message</span>
                                </div>

                                <p>
                                    Your personal data will be used to support your experience throughout this
                                    website, to manage access to your account, and for other purposes described in
                                    our privacy policy.
                                </p>
                                <button class="btnRegister" type="submit">Register</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>


        </div>

    </section>




</main>

