@{
    ViewData["Title"] = "Contact";
}


<main>
    <section id="main">
        <div class="about">
            <div class="about-us">
                <p>CONTACT</p>
            </div>
            <div class="home-about">
                <div class="home">
                    <a href="home.html">
                        <p>HOME </p>
                    </a>
                </div>
                <div class="drop">
                    <p>/</p>
                </div>
                <div class="about">
                    <p>CONTACT</p>
                </div>
            </div>
        </div>
        <div class="border">
        </div>
    </section>

    <section id="map">
        <div class="container">
            <div class="maps">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d24313.215380891517!2d49.86191205!3d40.3833254!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2saz!4v1678084299482!5m2!1sen!2saz"
                        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                <section id="contact">
                    <div class="row">
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <div class="text">
                                <h3>Contact us</h3>
                            </div>
                            <div class="icon">
                                <i class="fa-solid fa-house"></i>
                                <div class="address">
                                    <p>Address</p>
                                    <p>123 Main Street, Anytown, CA 12345 – USA</p>
                                </div>

                            </div>
                            <div class="border">
                            </div>
                            <div class="icon">
                                <i class="fa-solid fa-phone"></i>
                                <div class="address">
                                    <p>Phone</p>
                                    <p>123 Main Street, Anytown, CA 12345 – USA</p>
                                </div>

                            </div>
                            <div class="border">
                            </div>

                            <div class="icon">
                                <i class="fa-solid fa-envelope"></i>
                                <div class="address">
                                    <p>Email</p>
                                    <p>123 Main Street, Anytown, CA 12345 – USA</p>
                                </div>

                            </div>

                        </div>


                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <div class="inputs-area">
                                <h3>Contact us</h3>
                                <form>
                                    <div class="group inputs">
                                        <input required type="text">
                                        <span class="bar"></span>
                                        <label>Your Name (required) *</label>
                                        <span class="validation">Please enter a valid message</span>
                                    </div>

                                    <div class="group inputs">
                                        <input required type="text">
                                        <span class="bar"></span>
                                        <label>Your Email (required) *</label>
                                        <span class="validation">Please enter a valid message</span>
                                    </div>

                                    <div class="group inputs">
                                        <input required type="text">
                                        <span class="bar"></span>
                                        <label>Subject *</label>
                                        <span class="validation">Please enter a valid message</span>
                                    </div>

                                    <div class="group textarea">
                                        <textarea required></textarea>
                                        <span class="bar"></span>
                                        <label>Post content *</label>
                                    </div>

                                    <button type="submit">Send</button>
                                </form>
                            </div>
                        </div>
                    </div>


                </section>
            </div>

        </div>

    </section>

</main>

