@{
    ViewData["Title"] = "ProductDetail";
}

  <main>

        <section id="breadcrumb-section">
            <div class="container">
                <div class="row ">
                    <div class="carts">

                        <div class="left">
                            <h4>ONTEC E Headset</h4>
                        </div>

                        <div class="right">
                            <ul>
                                <li><a href="home.html">HOME</a></li>
                                <li><a href="">/</a></li>
                                <li><a href="">PRODUCT</a></li>

                            </ul>

                        </div>
                    </div>

                </div>

            </div>



        </section>


        <section id="product-details">

            <div class="container">
                <div class="row">
                    <div class="modls">

                        <button type="button" class="btn btn-primary open d-none" data-bs-toggle="modal"
                            data-bs-target="#staticBackdrop">
                            Launch static backdrop modal
                        </button>

                        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
                            tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">                                      
                                        <img src="" alt="">
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-5">
                        <div class="photo-product">
                          <img src="" alt="">
                            <i class="fa-solid fa-magnifying-glass-plus icon"></i>
                        </div>
                        <div class="swiper-wrapper">

                            <div class="col-3">
                                <div class="mat-card">
                                    <img src="./assets/img/headphone2.png" alt="">
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="mat-card">
                                    <img src="./assets/img/headphone5.png" alt="">
                                </div>
                            </div>

                            <div class="col-3">
                                <div class="mat-card">
                                    <img src="./assets/img/headphone4.png" alt="">
                                </div>
                            </div>

                            <div class="col-3">
                                <div class="mat-card">
                                    <img src="./assets/img/headphone1.png" alt="">
                                </div>
                            </div>

                            <div class="col-3">
                                <div class="mat-card">
                                    <img src="./assets/img/headphone3.png" alt="">
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-5">
                        <div class="product-area">
                            <div class="product-info">
                                <h2></h2>
                                <del></del>
                                <span>50% Off</span>
                                <h3></h3>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum has been the industrys standard dummy text ever since the 1500s, when an
                                    unknown printer took a galley of type and scrambled it to make a type specimen
                                    book.
                                </p>
                            </div>
                            <p><span>Avalibility: </span><span>In Stock</span></p>

                            <div class="quantity">
                                <span>Quantity</span>
                            </div>
                            <div class="product-count">

                                <button><i class="fa-solid fa-minus"></i></button>
                                <input type="text">
                                <button><i class="fa-solid fa-plus"></i></button>
                            </div>
                            <div class="buttons">
                                <button class="btn btn-primary"><span>ADD TO CARD</span></button>
                                <button class="btn btn-primary"><span>BUY NOW</span></button>
                            </div>


                        </div>

                    </div>
                    <div class="col-2">
                        <div class="info-bar">
                            <div class="mat-card cardss">
                                <i class="fa-solid fa-gift"></i>
                                <div class="text-mutled">
                                    <p>BONUS PLUS</p>
                                    <span>Get a bonus plus for buying more that three products</span>
                                </div>

                            </div>
                            <div class="mat-card-indicator cardss">
                                <i class="fa-solid fa-truck"></i>
                                <div class="text-mutled">
                                    <p>FREE SHIPPING</p>
                                    <span>Free shipping on all orders over $99</span>
                                </div>

                            </div>
                            <div class="mat-card-dollar cardss">
                                <i class="fa-solid fa-dollar-sign icon-card"></i>
                                <div class="text-mutled">
                                    <p>MONEY BACK GUARANTEE</p>
                                    <span class="span-card">100% money back guarantee</span>
                                </div>

                            </div>
                            <div class="mat-card-time cardss time ">
                                <i class="fa-solid fa-clock-rotate-left icon-card"></i>
                                <div class="text-mutled">
                                    <p>ONLINE SUPPORT 24/7</p>
                                    <span>Call us: 02 3555 65454 55</span>
                                </div>

                            </div>
                        </div>
                        <div class="sale-widget">
                            <div class="sale-widget1"><span>BIG SALLE</span></div>
                            <div class="sale-widget2"><span>DO NOT MISS IT!</span></div>
                            <div class="discount"> <span>60</span></div>
                            <div class="div-procent">
                                <span>%</span><br>
                                <span>off</span>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nects.</p>
                            </div>
                        </div>
                    </div>

                </div>


            </div>

        </section>


        <section id="tab-menu">
            <main class="main">
                <div class="container">
                    <div class="col-10">
                        <div class="tab">
                            <div class="tab-menu">
                                <button class="tab-menu-link is-active" data-content="item-1">
                                    <span data-title="item-1">Description</span>
                                </button>
                                <button class="tab-menu-link " data-content="item-2">
                                    <span data-title="item-2">Details</span>
                                </button>
                                <button class="tab-menu-link" data-content="item-3">
                                    <span data-title="item-3">Reviews</span>
                                </button>

                            </div>
                            <div class="tab-bar-content is-active" id="item-1">
                                <div class="full-desc1 ">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                        Ipsum has been the industrys standard dummy text ever since the 1500s, when an
                                        unknown printer took a galley of type and scrambled it to make a type specimen
                                        book.
                                        It has survived not only five centuries, but also the leap into electronic
                                        typesetting, remaining essentially unchanged. It was popularised in the 1960s
                                        with
                                        the release of Letraset sheets containing Lorem Ipsum passages, and more
                                        recently
                                        with desktop publishing software like Aldus PageMaker including versions of
                                        Lorem
                                        Ipsum. Lorem Ipsum is simply dummy text of the printing and typesetting
                                        industry.
                                        Lorem Ipsum has been the industrys standard dummy text ever since the 1500s,
                                        when an
                                        unknown printer took a galley of type and scrambled it to make a type specimen
                                        book.
                                        It has survived not only five centuries, but also the leap into electronic
                                        typesetting, remaining essentially unchanged. It was popularised in the 1960s
                                        with
                                        the release of Letraset sheets containing Lorem Ipsum passages, and more
                                        recently
                                        with desktop publishing software like Aldus PageMaker including versions of
                                        Lorem
                                        Ipsum.
                                    </p>
                                </div>



                            </div>

                            <div class="tab-bar-content" id="item-2">

                                <div class="full-details">
                                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                                        fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                                        culpa
                                        qui officia deserunt mollit anim id est laborum.</p>
                                    <ul>
                                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                                        <li>Aenean vehicula, tortor gravida elementum tincidunt, justo lorem vestibulum
                                            ex,
                                            eget egestas arcu tellus in magna. Vivamus gravida, ipsum vel luctus luctus,
                                            nisi felis vestibulum est, nec interdum tellus leo quis tellus. Sed sit amet
                                            convallis enim, in laoreet orci.</li>
                                        <li>Donec et elit at nulla congue interdum sit amet varius erat.</li>
                                        <li>Nulla sit amet risus pellentesque, dignissim massa ut, dignissim arcu.</li>
                                    </ul>
                                </div>


                            </div>


                            <div class="tab-bar-content " id="item-3">

                                <div class="full-review" id="item-3">
                                    <div class="mat-list-item-content">
                                        <div class="mat-list-item">
                                            <img src="./assets/img/avatar-1.png" alt="">
                                        </div>
                                        <div class="mat-list-text">
                                            <p><span>Martina Solsker</span></p>
                                            <p><small>22 Mart, 2018 at 18:44</small> </p>
                                            <p>Integer id eros et mi fringilla imperdiet. In dictum turpis eget magna
                                                condimentum. Ut malesuada interdum ultrices. Proin tristiqu..
                                            </p>
                                        </div>
                                    </div>
                                    <div class="mat-list-item-content">
                                        <div class="mat-list-item">
                                            <img src="./assets/img/avatar-2.png" alt="">
                                        </div>
                                        <div class="mat-list-text">
                                            <p><span>Deni Aniston</span></p>
                                            <p><small>22 Mart, 2018 at 18:44</small> </p>
                                            <p>Nulla accumsan, lacus sed suscipit rutrum, turpis augue accumsan metus,
                                                in accumsan urna mi lorem. Pellentesque semper ni..
                                            </p>
                                        </div>
                                    </div>
                                    <div class="mat-list-item-content">
                                        <div class="mat-list-item">
                                            <img src="./assets/img/avatar-3.png" alt="">
                                        </div>
                                        <div class="mat-list-text">
                                            <p><span>Simon Ladger</span></p>
                                            <p><small>22 Mart, 2018 at 18:44</small> </p>
                                            <p>Pellentesque hendrerit vel turpis aliquam . Suspendisse
                                                ullamcorper feugiat. Etiam gravida metus ac massa posuere
                                                ve..
                                            </p>

                                        </div>
                                    </div>
                                    <div class="form">

                                        <div class="right">
                                            <h3>LEAVE YOUR REVIEW</h3>
                                            <div class="divider"></div>
                                            <p>Your email address will not be published. Required fields are marked *
                                            </p>
                                            <h3 class="rating"><span>Your Rating:</span>
                                                <button><i class="fa-regular fa-face-frown icon"></i></button>
                                                <button><i class="fa-regular fa-face-meh"></i></button>
                                                <button><i class="fa-regular fa-face-meh"></i></button>
                                                <button><i class="fa-regular fa-face-smile"></i></button>
                                                <button><i class="fa-regular fa-face-grin"></i></button>

                                            </h3>
                                            <form>
                                                <div class="user-info">
                                                    <div class="group inputs">
                                                        <input required type="text">
                                                        <span class="bar"></span>
                                                        <label>Your Name (required) *</label>
                                                        <span class="validation">Please enter a valid message</span>
                                                    </div>

                                                    <div class="group inputs">
                                                        <input required type="text">
                                                        <span class="bar"></span>
                                                        <label>Your Email (required) *</label>
                                                        <span class="validation">Please enter a valid message</span>
                                                    </div>
                                                </div>


                                                <div class="group inputs">
                                                    <input required type="text">
                                                    <span class="bar"></span>
                                                    <label>Subject *</label>
                                                    <span class="validation">Please enter a valid message</span>
                                                </div>

                                                <div class="group textarea">
                                                    <textarea required></textarea>
                                                    <span class="bar"></span>
                                                    <label>Post content *</label>
                                                </div>

                                                <button type="submit">Submit Review</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </main>

        </section>



        <section id="products">
            <div class="container">
                <div class="title">
                    <h4>Featured Products</h4>
                </div>

                <div class=" cards">

                    <div class="product-card">
                        <div class="img-area">
                            <a href=""> <img src="./assets/img/headphone2.png" alt=""></a>
                        </div>

                        <div class="icons">
                            <i class="fa-regular fa-heart heart"></i>
                            <i class="fa-solid fa-eye eye-icon"></i>
                            <i class="fa-solid fa-arrows-rotate"></i>
                        </div>
                        <div class="card-text">
                            <span>Headphones</span>
                            <h4>Dono Purple Wireless</h4>
                        </div>
                        <div class="card-footer">
                            <div class="star-icons">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                            <div class="card-price">
                                <span>$</span>
                                <span>100.00</span>
                            </div>
                            <a class="add-btn"><i class="fa-solid fa-cart-shopping"></i></a>
                        </div>

                    </div>

                    <div class="product-card">
                        <div class="img-area">
                            <a href=""> <img src="./assets/img/headphone4.png" alt=""></a>
                        </div>

                        <div class="icons">
                            <i class="fa-regular fa-heart heart"></i>
                            <i class="fa-solid fa-eye eye-icon"></i>
                            <i class="fa-solid fa-arrows-rotate"></i>
                        </div>
                        <div class="card-text">
                            <span>Headphones</span>
                            <h4>Ultra Whitte Wireless</h4>
                        </div>
                        <div class="card-footer">
                            <div class="star-icons">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                            <div class="card-price">
                                <span>$</span>
                                <span>350.00</span>
                            </div>
                            <a class="add-btn"><i class="fa-solid fa-cart-shopping"></i></a>
                        </div>

                    </div>

                    <div class="product-card">
                        <div class="img-area">
                            <a href=""> <img src="./assets/img/headphone5.png" alt=""></a>
                        </div>

                        <div class="icons">
                            <i class="fa-regular fa-heart heart"></i>
                            <i class="fa-solid fa-eye eye-icon"></i>
                            <i class="fa-solid fa-arrows-rotate"></i>
                        </div>
                        <div class="card-text">
                            <span>Headphones</span>
                            <h4>Solo Headset</h4>
                        </div>
                        <div class="card-footer">
                            <div class="star-icons">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                            <div class="card-price">
                                <span>$</span>
                                <span>235.00</span>
                            </div>
                            <a class="add-btn"><i class="fa-solid fa-cart-shopping"></i></a>
                        </div>

                    </div>

                    <div class="product-card">
                        <div class="img-area">
                            <a href=""> <img src="./assets/img/headphone6.png" alt=""></a>
                        </div>

                        <div class="icons">
                            <i class="fa-regular fa-heart heart"></i>
                            <i class="fa-solid fa-eye eye-icon"></i>
                            <i class="fa-solid fa-arrows-rotate"></i>
                        </div>
                        <div class="card-text">
                            <span>Headphones</span>
                            <h4>ONTEC E Headset</h4>
                        </div>
                        <div class="card-footer">
                            <div class="star-icons">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                            <div class="card-price">
                                <span>$</span>
                                <span>175.00</span>
                            </div>
                            <a class="add-btn"><i class="fa-solid fa-cart-shopping"></i></a>
                        </div>

                    </div>

                    <div class="product-card">
                        <div class="img-area">
                            <a href=""> <img src="./assets/img/laptop1.png" alt=""></a>
                        </div>

                        <div class="icons">
                            <i class="fa-regular fa-heart heart"></i>
                            <i class="fa-solid fa-eye eye-icon"></i>
                            <i class="fa-solid fa-arrows-rotate"></i>
                        </div>
                        <div class="card-text">
                            <span>Headphones</span>
                            <h4>Wireless Mondo</h4>
                        </div>
                        <div class="card-footer">
                            <div class="star-icons">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                            <div class="card-price">
                                <span>$</span>
                                <span>266.00</span>
                            </div>
                            <a class="add-btn"><i class="fa-solid fa-cart-shopping"></i></a>
                        </div>

                    </div>

                    <div class="product-card">
                        <div class="img-area">
                            <a href=""> <img src="./assets/img/laptop2.png" alt=""></a>
                        </div>

                        <div class="icons">
                            <i class="fa-regular fa-heart heart"></i>
                            <i class="fa-solid fa-eye eye-icon"></i>
                            <i class="fa-solid fa-arrows-rotate"></i>
                        </div>
                        <div class="card-text">
                            <span>Headphones</span>
                            <h4>Wireless Mondo</h4>
                        </div>
                        <div class="card-footer">
                            <div class="star-icons">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                            <div class="card-price">
                                <span>$</span>
                                <span>266.00</span>
                            </div>
                            <a class="add-btn"><i class="fa-solid fa-cart-shopping"></i></a>
                        </div>

                    </div>
                </div>
                <div class="moddal">
                    <div class="modall d-none">
                        <div class="container">
                            <div class="row">
                                <div class="col-6">
                                    <div class="img">
                                        <img src="" alt="">
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="iconca">
                                        <a href=""><i class="fa-solid fa-xmark"></i></a>
                                    </div>
                                    <div class="text1">
                                        <h2></h2>

                                    </div>
                                    <div class="texts">
                                        <div class="price1">
                                            <del></del>
                                        </div>
                                        <div class="price2">
                                            <p>50% Off</p>
                                        </div>
                                    </div>
                                    <div class="text2">
                                        <p></p>
                                    </div>
                                    <div class="border">

                                    </div>
                                    <div class="text3">
                                        <p>Product details</p>
                                    </div>
                                    <div class="text4">
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting
                                            industry. Lorem Ipsum has been the industrys standard dummy text
                                            ever
                                            since the 1500s, when an unknown printer took a galley of type and
                                            scrambled it to make a type specimen book.</p>
                                    </div>
                                    <div class="border">

                                    </div>
                                    <div class="text5">
                                        <div class="text1">
                                            <p>Avalibility:</p>
                                        </div>
                                        <div class="text2">
                                            <p> In Stock</p>
                                        </div>
                                    </div>
                                    <div class="text6">
                                        <p>Quantity</p>
                                    </div>
                                    <div class="input-icon">
                                        <div class="inputs">
                                            <div class="minus">
                                                <p>-</p>
                                            </div>
                                            <input type="text" name="" id="" value="1">
                                            <div class="plus">
                                                <p>+</p>
                                            </div>
                                        </div>
                                        <div class="icons">
                                            <div class="icon1">
                                                <i class="fa-solid fa-cart-shopping"></i>
                                            </div>
                                            <div class="icon2">
                                                <i class="fa-solid fa-eye"></i>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>


        </section>


    </main>