@{
    ViewData["Title"] = "Checkout";
}


<main>
    <section id="title">
        <div class="container">
            <div class="page-title">
                <div class="left">
                    <p>CHECKOUT</p>
                </div>
                <div class="right">
                    <ul>
                        <li><a href="home.html">HOME</a></li>
                        <li>/</li>
                        <li>CHECKOUT</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>




    <section id="Login-register">
        <div class="container mt-5">
            <div class="input-box">
                <div class="row">
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <div class="inputs-area login">
                            <h2>Billing Details</h2>
                            <form>
                                <div class="input-section">
                                    <div class="group inputs input1">
                                        <input required type="text">
                                        <span class="bar"></span>
                                        <label>First name(required) *</label>
                                        <span class="validation">Please enter a valid message</span>
                                    </div>

                                    <div class="group inputs input2">
                                        <input required type="text">
                                        <span class="bar"></span>
                                        <label>Lastname (required) *</label>
                                        <span class="validation">Please enter a valid message</span>
                                    </div>
                                </div>

                                <div class="group inputs">
                                    <input required type="text">
                                    <span class="bar"></span>
                                    <label>Company name (optional)</label>
                                    <span class="validation">Please enter a valid message</span>
                                </div>

                                <div class="group inputs">
                                    <input required type="text">
                                    <span class="bar"></span>
                                    <label>Address</label>
                                    <span class="validation">Please enter a valid message</span>
                                </div>

                                <div class="group inputs">
                                    <input required type="text">
                                    <span class="bar"></span>
                                    <label>Town/city</label>
                                    <span class="validation">Please enter a valid message</span>
                                </div>

                                <div class="input-section">
                                    <div class="group inputs input1">
                                        <input required type="text">
                                        <span class="bar"></span>
                                        <label>State / Country (required) *</label>
                                        <span class="validation">Please enter a valid message</span>
                                    </div>

                                    <div class="group inputs input2">
                                        <input required type="text">
                                        <span class="bar"></span>
                                        <label>Postcode / zip (required) *</label>
                                        <span class="validation">Please enter a valid message</span>
                                    </div>
                                </div>

                                <div class="input-section">
                                    <div class="group inputs input1">
                                        <input required type="text">
                                        <span class="bar"></span>
                                        <label>Email Address (required) *</label>
                                        <span class="validation">Please enter a valid message</span>
                                    </div>

                                    <div class="group inputs input2">
                                        <input required type="text">
                                        <span class="bar"></span>
                                        <label>Phone (required) *</label>
                                        <span class="validation">Please enter a valid message</span>
                                    </div>
                                </div>

                                <div class="add-info">
                                    <h3>Additional information</h3>
                                    <p>Order notes (optional)</p>
                                </div>







                                <div class="group textarea">
                                    <textarea required></textarea>
                                    <span class="bar"></span>
                                    <label>Post content *</label>
                                </div>



                                <button type="submit">Submit Review</button>
                            </form>
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="order">
                            <div class="texts">
                                <span>Product</span>
                                <span>Total</span>
                            </div>
                            <div class="border">
                            </div>
                            <p>There are no products in cart</p>
                            <div class="border">
                            </div>
                            <div class="text">
                                <div class="text1">
                                    <span>Subtotal</span>
                                </div>
                                <div class="text2">
                                    <span>$0.00</span>
                                </div>
                            </div>
                            <div class="borders1">
                                <div class="border">
                                </div>
                            </div>
                            <div class="text11">
                                <div class="text1">
                                    <span>Total</span>
                                </div>
                                <div class="text2">
                                    <span>$0.00</span>
                                </div>
                            </div>
                            <div class="borders1">
                                <div class="border">
                                </div>
                            </div>


                            <div class="payment">
                                <div class="bank">
                                    <input name="money" type="radio">
                                    <span>Direct Bank Transfer</span>

                                </div>
                                <div class="bank">
                                    <input name="money" type="radio">
                                    <span>PayPal</span>
                                </div>

                            </div>

                            <button><span>PLACE OLDER</span></button>

                        </div>
                    </div>
                </div>
            </div>


        </div>

    </section>






</main>

