@model List<Slider>




@{
    ViewData["Title"] = "Home";
}

<main>
    <section id="slider">
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                @foreach(var item in Model)
                {
                    <div class="swiper-slide">
                        <img src="./assets/img/@item.Image" alt="">
                        <h1>@item.Title</h1>
                        <h3>@item.Description</h3>
                        <button class="shop">SHOP NOW</button>
                    </div>
                }

            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-pagination"></div>
        </div>

    </section>


    <section id="info-bar">
        <div class="container my-4">
            <div class="info-bar-area">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class=" cardd">
                            <i class="fa-solid fa-gift"></i>
                            <div class="card-body">
                                <p>BONUS PLUS</p>
                                <span>Get a bonus plus for buying more that three products</span>
                            </div>
                            <div class="border"></div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class=" cardd">
                            <i class="fa-solid fa-truck"></i>
                            <div class="card-body">
                                <p>FREE SHIPPING</p>
                                <span>Free shipping on all orders over $99</span>
                            </div>
                            <div class="border"></div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class=" cardd">
                            <i class="fa-solid fa-dollar-sign"></i>
                            <div class="card-body">
                                <p>MONEY BACK GUARANTEE</p>
                                <span>100% money back guarantee</span>
                            </div>
                            <div class="border"></div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12
                        ">
                        <div class=" cardd">
                            <i class="fa-solid fa-clock-rotate-left"></i>
                            <div class="card-body">
                                <p>ONLINE SUPPORT 24/7</p>
                                <span>Call us: 02 3555 65454 55</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="tab-menu">
        <div class="main">
            <div class="container">
                <div class="tab">
                    <div class="tab-menu">
                        <button class="tab-menu-link is-active" data-content="item-1">
                            <span data-title="item-1">FEATURED PRODUCTS</span>
                        </button>
                        <button class="tab-menu-link" data-content="item-2">
                            <span data-title="item-2">LATEST PRODUCTS</span>
                        </button>
                        <button class="tab-menu-link" data-content="item-3">
                            <span data-title="item-3">ON SALE PRODUCTS</span>
                        </button>

                    </div>

                    <div class="tab-bar">
                        <div class="tab-bar-content is-active" id="item-1">
                            <div class=" cards">
                                <div class="product-card" data-id="1">
                                    <div class="img-area">
                                        <a href="productDetail.html"><img src="./assets/img/headphone1.png" alt=""></a>
                                    </div>
                                    <div class="icons">
                                        <i class="fa-regular fa-heart heart"></i>
                                        <i class="fa-solid fa-eye eye-icon"></i>
                                        <i class="fa-solid fa-arrows-rotate"></i>
                                    </div>
                                    <div class="card-text">
                                        <span>Headphones</span>
                                        <h4>Wireless Mondo</h4>
                                    </div>
                                    <div class="card-footer">
                                        <div class="star-icons">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                        </div>
                                        <div class="card-price">
                                            <span>266.00</span>
                                        </div>
                                    </div>
                                    <div class="add-btn">
                                        <button>ADD TO CART <i class="fa-solid fa-cart-shopping"></i></button>
                                    </div>
                                </div>

                                <div class="product-card" data-id="2">
                                    <div class="img-area">
                                        <a href="productDetail.html"> <img src="./assets/img/headphone3.png" alt=""></a>
                                    </div>

                                    <div class="icons">
                                        <i class="fa-regular fa-heart heart"></i>
                                        <i class="fa-solid fa-eye eye-icon"></i>
                                        <i class="fa-solid fa-arrows-rotate"></i>
                                    </div>
                                    <div class="card-text">
                                        <span>Headphones</span>
                                        <h4>Headset Perro</h4>
                                    </div>
                                    <div class="card-footer">
                                        <div class="star-icons">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                        </div>
                                        <div class="card-price">
                                            <span>88.00</span>
                                        </div>
                                    </div>
                                    <div class="add-btn">
                                        <button>ADD TO CART <i class="fa-solid fa-cart-shopping"></i></button>
                                    </div>
                                </div>

                                <div class="product-card" data-id="3">
                                    <div class="img-area">
                                        <a href="productDetail.html"> <img src="./assets/img/headphone2.png" alt=""></a>
                                    </div>

                                    <div class="icons">
                                        <i class="fa-regular fa-heart heart"></i>
                                        <i class="fa-solid fa-eye eye-icon"></i>
                                        <i class="fa-solid fa-arrows-rotate"></i>
                                    </div>
                                    <div class="card-text">
                                        <span>Headphones</span>
                                        <h4>Dono Purple Wireless</h4>
                                    </div>
                                    <div class="card-footer">
                                        <div class="star-icons">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                        </div>
                                        <div class="card-price">
                                            <span>100.00</span>
                                        </div>
                                    </div>
                                    <div class="add-btn">
                                        <button>ADD TO CART <i class="fa-solid fa-cart-shopping"></i></button>
                                    </div>
                                </div>

                                <div class="product-card" data-id="4">
                                    <div class="img-area">
                                        <a href="productDetail.html"> <img src="./assets/img/headphone4.png" alt=""></a>
                                    </div>

                                    <div class="icons">
                                        <i class="fa-regular fa-heart heart"></i>
                                        <i class="fa-solid fa-eye eye-icon"></i>
                                        <i class="fa-solid fa-arrows-rotate"></i>
                                    </div>
                                    <div class="card-text">
                                        <span>Headphones</span>
                                        <h4>Ultra Whitte Wireless</h4>
                                    </div>
                                    <div class="card-footer">
                                        <div class="star-icons">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                        </div>
                                        <div class="card-price">
                                            <span>350.00</span>
                                        </div>
                                    </div>
                                    <div class="add-btn">
                                        <button>ADD TO CART <i class="fa-solid fa-cart-shopping"></i></button>
                                    </div>
                                </div>

                                <div class="product-card" data-id="5">
                                    <div class="img-area">
                                        <a href="productDetail.html"> <img src="./assets/img/headphone5.png" alt=""></a>
                                    </div>

                                    <div class="icons">
                                        <i class="fa-regular fa-heart heart"></i>
                                        <i class="fa-solid fa-eye eye-icon"></i>
                                        <i class="fa-solid fa-arrows-rotate"></i>
                                    </div>
                                    <div class="card-text">
                                        <span>Headphones</span>
                                        <h4>Solo Headset</h4>
                                    </div>
                                    <div class="card-footer">
                                        <div class="star-icons">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                        </div>
                                        <div class="card-price">
                                            <span>235.00</span>
                                        </div>
                                    </div>
                                    <div class="add-btn">
                                        <button>ADD TO CART <i class="fa-solid fa-cart-shopping"></i></button>
                                    </div>
                                </div>

                                <div class="product-card" data-id="6">
                                    <div class="img-area">
                                        <a href="productDetail.html"> <img src="./assets/img/headphone6.png" alt=""></a>
                                    </div>

                                    <div class="icons">
                                        <i class="fa-regular fa-heart heart"></i>
                                        <i class="fa-solid fa-eye eye-icon"></i>
                                        <i class="fa-solid fa-arrows-rotate"></i>
                                    </div>
                                    <div class="card-text">
                                        <span>Headphones</span>
                                        <h4>ONTEC E Headset</h4>
                                    </div>
                                    <div class="card-footer">
                                        <div class="star-icons">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                        </div>
                                        <div class="card-price">
                                            <span>175.00</span>
                                        </div>
                                    </div>
                                    <div class="add-btn">
                                        <button>ADD TO CART <i class="fa-solid fa-cart-shopping"></i></button>
                                    </div>
                                </div>

                                <div class="product-card" data-id="7">
                                    <div class="img-area">
                                        <a href="productDetail.html"> <img src="./assets/img/laptop1.png" alt=""></a>
                                    </div>

                                    <div class="icons">
                                        <i class="fa-regular fa-heart heart"></i>
                                        <i class="fa-solid fa-eye eye-icon"></i>
                                        <i class="fa-solid fa-arrows-rotate"></i>
                                    </div>
                                    <div class="card-text">
                                        <span>Headphones</span>
                                        <h4>Wireless Mondo</h4>
                                    </div>
                                    <div class="card-footer">
                                        <div class="star-icons">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                        </div>
                                        <div class="card-price">
                                            <span>266.00</span>
                                        </div>
                                    </div>
                                    <div class="add-btn">
                                        <button>ADD TO CART <i class="fa-solid fa-cart-shopping"></i></button>
                                    </div>
                                </div>

                                <div class="product-card" data-id="8">
                                    <div class="img-area">
                                        <a href="productDetail.html"> <img src="./assets/img/laptop2.png" alt=""></a>
                                    </div>

                                    <div class="icons">
                                        <i class="fa-regular fa-heart heart"></i>
                                        <i class="fa-solid fa-eye eye-icon"></i>
                                        <i class="fa-solid fa-arrows-rotate"></i>
                                    </div>
                                    <div class="card-text">
                                        <span>Headphones</span>
                                        <h4>Wireless Mondo</h4>
                                    </div>
                                    <div class="card-footer">
                                        <div class="star-icons">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                        </div>
                                        <div class="card-price">
                                            <span>266.00</span>
                                        </div>
                                    </div>
                                    <div class="add-btn">
                                        <button>ADD TO CART <i class="fa-solid fa-cart-shopping"></i></button>
                                    </div>
                                </div>
                            </div>

                            <div class="moddal">
                                <div class="modall d-none">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-6">
                                                <div class="img">
                                                    <img src="" alt="">
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="iconca">
                                                    <a href=""><i class="fa-solid fa-xmark"></i></a>
                                                </div>
                                                <div class="text1">
                                                    <h2></h2>

                                                </div>
                                                <div class="texts">
                                                    <div class="price1">
                                                        <del></del>
                                                    </div>
                                                    <div class="price2">
                                                        <p>50% Off</p>
                                                    </div>
                                                </div>
                                                <div class="text2">
                                                    <p></p>
                                                </div>
                                                <div class="border">
                                                </div>
                                                <div class="text3">
                                                    <p>Product details</p>
                                                </div>
                                                <div class="text4">
                                                    <p>
                                                        Lorem Ipsum is simply dummy text of the printing and typesetting
                                                        industry. Lorem Ipsum has been the industrys standard dummy text
                                                        ever
                                                        since the 1500s, when an unknown printer took a galley of type and
                                                        scrambled it to make a type specimen book.
                                                    </p>
                                                </div>
                                                <div class="border">
                                                </div>
                                                <div class="text5">
                                                    <div class="text1">
                                                        <p>Avalibility:</p>
                                                    </div>
                                                    <div class="text2">
                                                        <p> In Stock</p>
                                                    </div>
                                                </div>
                                                <div class="text6">
                                                    <p>Quantity</p>
                                                </div>
                                                <div class="input-icon">
                                                    <div class="inputs">
                                                        <div class="minus">
                                                            <p>-</p>
                                                        </div>
                                                        <input type="text" name="" id="" value="1">
                                                        <div class="plus">
                                                            <p>+</p>
                                                        </div>
                                                    </div>
                                                    <div class="icons">
                                                        <div class="icon1">
                                                            <i class="fa-solid fa-cart-shopping"></i>
                                                        </div>
                                                        <div class="icon2">
                                                            <i class="fa-solid fa-eye"></i>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>


                        <div class="tab-bar-content" id="item-2">
                            <div class=" cards">
                                <div class="product-card" data-id="9">
                                    <div class="img-area">
                                        <a href="productDetail.html"> <img src="./assets/img/headphone6.png" alt=""></a>
                                    </div>

                                    <div class="icons">
                                        <i class="fa-regular fa-heart heart"></i>
                                        <i class="fa-solid fa-eye eye-icon"></i>
                                        <i class="fa-solid fa-arrows-rotate"></i>
                                    </div>
                                    <div class="card-text">
                                        <span>Headphones</span>
                                        <h4>ONTEC E Headset</h4>
                                    </div>
                                    <div class="card-footer">
                                        <div class="star-icons">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                        </div>
                                        <div class="card-price">
                                            <span>175.00</span>
                                        </div>
                                    </div>
                                    <div class="add-btn">
                                        <button>ADD TO CART <i class="fa-solid fa-cart-shopping"></i></button>
                                    </div>
                                </div>

                                <div class="product-card" data-id="10">
                                    <div class="img-area">
                                        <a href="productDetail.html"> <img src="./assets/img/laptop1.png" alt=""></a>
                                    </div>

                                    <div class="icons">
                                        <i class="fa-regular fa-heart heart"></i>
                                        <i class="fa-solid fa-eye eye-icon"></i>
                                        <i class="fa-solid fa-arrows-rotate"></i>
                                    </div>
                                    <div class="card-text">
                                        <span>Headphones</span>
                                        <h4>Wireless Mondo</h4>
                                    </div>
                                    <div class="card-footer">
                                        <div class="star-icons">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                        </div>
                                        <div class="card-price">
                                            <span>266.00</span>
                                        </div>
                                    </div>
                                    <div class="add-btn">
                                        <button>ADD TO CART <i class="fa-solid fa-cart-shopping"></i></button>
                                    </div>
                                </div>

                                <div class="product-card" data-id="11">
                                    <div class="img-area">
                                        <a href="productDetail.html"> <img src="./assets/img/laptop2.png" alt=""></a>
                                    </div>

                                    <div class="icons">
                                        <i class="fa-regular fa-heart heart"></i>
                                        <i class="fa-solid fa-eye eye-icon"></i>
                                        <i class="fa-solid fa-arrows-rotate"></i>
                                    </div>
                                    <div class="card-text">
                                        <span>Headphones</span>
                                        <h4>Wireless Mondo</h4>
                                    </div>
                                    <div class="card-footer">
                                        <div class="star-icons">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                        </div>
                                        <div class="card-price">
                                            <span>266.00</span>
                                        </div>
                                    </div>
                                    <div class="add-btn">
                                        <button>ADD TO CART <i class="fa-solid fa-cart-shopping"></i></button>
                                    </div>
                                </div>

                                <div class="product-card" data-id="12">
                                    <div class="img-area">
                                        <a href="productDetail.html"> <img src="./assets/img/headphone4.png" alt=""></a>
                                    </div>

                                    <div class="icons">
                                        <i class="fa-regular fa-heart heart"></i>
                                        <i class="fa-solid fa-eye eye-icon"></i>
                                        <i class="fa-solid fa-arrows-rotate"></i>
                                    </div>
                                    <div class="card-text">
                                        <span>Headphones</span>
                                        <h4>Ultra Whitte Wireless</h4>
                                    </div>
                                    <div class="card-footer">
                                        <div class="star-icons">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                        </div>
                                        <div class="card-price">
                                            <span>350.00</span>
                                        </div>
                                    </div>
                                    <div class="add-btn">
                                        <button>ADD TO CART <i class="fa-solid fa-cart-shopping"></i></button>
                                    </div>
                                </div>

                                <div class="product-card" data-id="13">
                                    <div class="img-area">
                                        <a href="productDetail.html"> <img src="./assets/img/headphone5.png" alt=""></a>
                                    </div>

                                    <div class="icons">
                                        <i class="fa-regular fa-heart heart"></i>
                                        <i class="fa-solid fa-eye eye-icon"></i>
                                        <i class="fa-solid fa-arrows-rotate"></i>
                                    </div>
                                    <div class="card-text">
                                        <span>Headphones</span>
                                        <h4>Solo Headset</h4>
                                    </div>
                                    <div class="card-footer">
                                        <div class="star-icons">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                        </div>
                                        <div class="card-price">
                                            <span>235.00</span>
                                        </div>
                                    </div>
                                    <div class="add-btn">
                                        <button>ADD TO CART <i class="fa-solid fa-cart-shopping"></i></button>
                                    </div>
                                </div>

                                <div class="product-card" data-id="14">
                                    <div class="img-area">
                                        <a href="productDetail.html"><img src="./assets/img/headphone1.png" alt=""></a>
                                    </div>
                                    <div class="icons">
                                        <i class="fa-regular fa-heart heart"></i>
                                        <i class="fa-solid fa-eye eye-icon"></i>
                                        <i class="fa-solid fa-arrows-rotate"></i>
                                    </div>
                                    <div class="card-text">
                                        <span>Headphones</span>
                                        <h4>Wireless Mondo</h4>
                                    </div>
                                    <div class="card-footer">
                                        <div class="star-icons">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                        </div>
                                        <div class="card-price">
                                            <span>266.00</span>
                                        </div>
                                    </div>
                                    <div class="add-btn">
                                        <button>ADD TO CART <i class="fa-solid fa-cart-shopping"></i></button>
                                    </div>
                                </div>

                                <div class="product-card" data-id="15">
                                    <div class="img-area">
                                        <a href="productDetail.html"> <img src="./assets/img/headphone3.png" alt=""></a>
                                    </div>

                                    <div class="icons">
                                        <i class="fa-regular fa-heart heart"></i>
                                        <i class="fa-solid fa-eye eye-icon"></i>
                                        <i class="fa-solid fa-arrows-rotate"></i>
                                    </div>
                                    <div class="card-text">
                                        <span>Headphones</span>
                                        <h4>Headset Perro</h4>
                                    </div>
                                    <div class="card-footer">
                                        <div class="star-icons">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                        </div>
                                        <div class="card-price">
                                            <span>88.00</span>
                                        </div>
                                    </div>
                                    <div class="add-btn">
                                        <button>ADD TO CART <i class="fa-solid fa-cart-shopping"></i></button>
                                    </div>
                                </div>

                                <div class="product-card" data-id="16">
                                    <div class="img-area">
                                        <a href="productDetail.html"> <img src="./assets/img/headphone2.png" alt=""></a>
                                    </div>

                                    <div class="icons">
                                        <i class="fa-regular fa-heart heart"></i>
                                        <i class="fa-solid fa-eye eye-icon"></i>
                                        <i class="fa-solid fa-arrows-rotate"></i>
                                    </div>
                                    <div class="card-text">
                                        <span>Headphones</span>
                                        <h4>Dono Purple Wireless</h4>
                                    </div>
                                    <div class="card-footer">
                                        <div class="star-icons">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                        </div>
                                        <div class="card-price">
                                            <span>100.00</span>
                                        </div>
                                    </div>
                                    <div class="add-btn">
                                        <button>ADD TO CART <i class="fa-solid fa-cart-shopping"></i></button>
                                    </div>
                                </div>

                            </div>


                        </div>



                        <div class="tab-bar-content" id="item-3">
                            <div class=" cards">
                                <div class="product-card" data-id="17">
                                    <div class="img-area">
                                        <a href="productDetail.html"> <img src="./assets/img/phone1.png" alt=""></a>
                                    </div>

                                    <div class="icons">
                                        <i class="fa-regular fa-heart heart"></i>
                                        <i class="fa-solid fa-eye"></i>
                                        <i class="fa-solid fa-arrows-rotate"></i>
                                    </div>
                                    <div class="card-text">
                                        <span>Smertphones</span>
                                        <h4>Notebook Polo 4000</h4>
                                    </div>
                                    <div class="card-footer">
                                        <div class="star-icons">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                        </div>
                                        <div class="card-price">
                                            <span>399.00</span>
                                        </div>
                                    </div>
                                    <div class="add-btn">
                                        <button>ADD TO CART <i class="fa-solid fa-cart-shopping"></i></button>
                                    </div>
                                </div>

                                <div class="product-card" data-id="18">
                                    <div class="img-area">
                                        <a href="productDetail.html"> <img src="./assets/img/phone2.png" alt=""></a>
                                    </div>

                                    <div class="icons">
                                        <i class="fa-regular fa-heart heart"></i>
                                        <i class="fa-solid fa-eye"></i>
                                        <i class="fa-solid fa-arrows-rotate"></i>
                                    </div>
                                    <div class="card-text">
                                        <span>Smartphones</span>
                                        <h4>Smartphone Elitte Pro</h4>
                                    </div>
                                    <div class="card-footer">
                                        <div class="star-icons">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                        </div>
                                        <div class="card-price">
                                            <span>699.00</span>
                                        </div>
                                    </div>
                                    <div class="add-btn">
                                        <button>ADD TO CART <i class="fa-solid fa-cart-shopping"></i></button>
                                    </div>
                                </div>

                                <div class="product-card" data-id="19">
                                    <div class="img-area">
                                        <a href="productDetail.html"> <img src="./assets/img/phone3.png" alt=""></a>
                                    </div>

                                    <div class="icons">
                                        <i class="fa-regular fa-heart heart"></i>
                                        <i class="fa-solid fa-eye"></i>
                                        <i class="fa-solid fa-arrows-rotate"></i>
                                    </div>
                                    <div class="card-text">
                                        <span>Smartphones</span>
                                        <h4>Smartphone XD5000</h4>
                                    </div>
                                    <div class="card-footer">
                                        <div class="star-icons">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                        </div>
                                        <div class="card-price">
                                            <span>799.00</span>
                                        </div>
                                    </div>
                                    <div class="add-btn">
                                        <button>ADD TO CART <i class="fa-solid fa-cart-shopping"></i></button>
                                    </div>
                                </div>

                                <div class="product-card" data-id="20">
                                    <div class="img-area">
                                        <a href="productDetail.html"> <img src="./assets/img/Photocamera1.png" alt=""></a>
                                    </div>

                                    <div class="icons">
                                        <i class="fa-regular fa-heart heart"></i>
                                        <i class="fa-solid fa-eye"></i>
                                        <i class="fa-solid fa-arrows-rotate"></i>
                                    </div>
                                    <div class="card-text">
                                        <span>Cameras</span>
                                        <h4>Camera Xd Pro</h4>
                                    </div>
                                    <div class="card-footer">
                                        <div class="star-icons">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                        </div>
                                        <div class="card-price">
                                            <span>499.00</span>
                                        </div>
                                    </div>
                                    <div class="add-btn">
                                        <button>ADD TO CART <i class="fa-solid fa-cart-shopping"></i></button>
                                    </div>
                                </div>

                                <div class="product-card" data-id="21">
                                    <div class="img-area">
                                        <a href="productDetail.html"> <img src="./assets/img/Photocamera2.png" alt=""></a>
                                    </div>

                                    <div class="icons">
                                        <i class="fa-regular fa-heart heart"></i>
                                        <i class="fa-solid fa-eye"></i>
                                        <i class="fa-solid fa-arrows-rotate"></i>
                                    </div>
                                    <div class="card-text">
                                        <span>Cameras</span>
                                        <h4>Camera HD200 x100</h4>
                                    </div>
                                    <div class="card-footer">
                                        <div class="star-icons">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                        </div>
                                        <div class="card-price">
                                            <span>479.00</span>
                                        </div>
                                    </div>
                                    <div class="add-btn">
                                        <button>ADD TO CART <i class="fa-solid fa-cart-shopping"></i></button>
                                    </div>
                                </div>

                                <div class="product-card" data-id="22">
                                    <div class="img-area">
                                        <a href="productDetail.html"><img src="./assets/img/Photocamera4.png" alt=""></a>
                                    </div>
                                    <div class="icons">
                                        <i class="fa-regular fa-heart heart"></i>
                                        <i class="fa-solid fa-eye"></i>
                                        <i class="fa-solid fa-arrows-rotate"></i>
                                    </div>
                                    <div class="card-text">
                                        <span>Cameras</span>
                                        <h4>ONTEC Camera W5000</h4>
                                    </div>
                                    <div class="card-footer">
                                        <div class="star-icons">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                        </div>
                                        <div class="card-price">
                                            <span>400.00</span>
                                        </div>
                                    </div>
                                    <div class="add-btn">
                                        <button>ADD TO CART <i class="fa-solid fa-cart-shopping"></i></button>
                                    </div>
                                </div>

                                <div class="product-card" data-id="23">
                                    <div class="img-area">
                                        <a href="productDetail.html"> <img src="./assets/img/Photocamera5.png" alt=""></a>
                                    </div>

                                    <div class="icons">
                                        <i class="fa-regular fa-heart heart"></i>
                                        <i class="fa-solid fa-eye"></i>
                                        <i class="fa-solid fa-arrows-rotate"></i>
                                    </div>
                                    <div class="card-text">
                                        <span>Cameras</span>
                                        <h4>Classic Camera E5000</h4>
                                    </div>
                                    <div class="card-footer">
                                        <div class="star-icons">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                        </div>
                                        <div class="card-price">
                                            <span>400.00</span>
                                        </div>
                                    </div>
                                    <div class="add-btn">
                                        <button>ADD TO CART <i class="fa-solid fa-cart-shopping"></i></button>
                                    </div>
                                </div>

                                <div class="product-card" data-id="24">
                                    <div class="img-area">
                                        <a href="productDetail.html"> <img src="./assets/img/headphone3.png" alt=""></a>
                                    </div>

                                    <div class="icons">
                                        <i class="fa-regular fa-heart heart"></i>
                                        <i class="fa-solid fa-eye"></i>
                                        <i class="fa-solid fa-arrows-rotate"></i>
                                    </div>
                                    <div class="card-text">
                                        <span>Cameras</span>
                                        <h4>Smart Camera Extra</h4>
                                    </div>
                                    <div class="card-footer">
                                        <div class="star-icons">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                        </div>
                                        <div class="card-price">
                                            <span>799.00</span>
                                        </div>
                                    </div>
                                    <div class="add-btn">
                                        <button>ADD TO CART <i class="fa-solid fa-cart-shopping"></i></button>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="banners">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-12">
                    <div class="new-laptops">
                        <div class="photo">
                        </div>
                        <div class="text">
                            <h4>New Laptops</h4>
                            <p>Sale up to 30% off all products in the new collection.</p>
                            <a href="">Shop Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12">
                    <div class="right2">
                        <div class="row">
                            <div class="col-lg-6 col-sm-12">
                                <div class="tablet">
                                    <h4>Tablets, Smartphones and more</h4>
                                    <p>Sale up to 30%.</p>
                                    <a href="">Shop Now</a>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="cameras">
                                    <h4>New Cameras Collection</h4>
                                    <p>Sale up to 30%.</p>
                                    <a href="">Shop Now</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-sm-12">
                            <div class="offer-cameras">
                                <h2>Cach Big Offers on Cameras</h2>
                                <p>Sale up to 20%.</p>
                                <button class="btn btn-primary btn-price">$66.99</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </section>



    <section id="featured-product">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12 cols">
                    <div class="carts">
                        <div class="cart1">
                            <h4>Featured Products</h4>
                            <div class="img-text">

                                <div class="img">
                                    <a href=""><img src="./assets/img/headphones1.jfif" alt=""></a>

                                </div>
                                <div class="texts">
                                    <div class="text1">
                                        <a href="">
                                            <p>ONTEC E Headset</p>
                                        </a>

                                    </div>
                                    <div class="icons">
                                        <i class="fa-solid fa-star text-warning"></i>
                                        <i class="fa-solid fa-star text-warning"></i>
                                        <i class="fa-solid fa-star text-warning"></i>
                                        <i class="fa-solid fa-star text-warning"></i>
                                        <i class="fa-solid fa-star text-warning"></i>
                                    </div>
                                    <div class="text2">
                                        <p>175.00</p>
                                    </div>
                                </div>
                            </div>

                            <div class="img-text">

                                <div class="img">
                                    <a href=""><img src="./assets/img/headphones2.jfif" alt=""></a>

                                </div>
                                <div class="texts">
                                    <div class="text1">
                                        <a href="">
                                            <p>Solo Headset</p>
                                        </a>

                                    </div>
                                    <div class="icons">
                                        <i class="fa-solid fa-star text-warning"></i>
                                        <i class="fa-solid fa-star text-warning"></i>
                                        <i class="fa-solid fa-star text-warning"></i>
                                        <i class="fa-solid fa-star text-warning"></i>
                                        <i class="fa-solid fa-star text-warning"></i>
                                    </div>
                                    <div class="text2">
                                        <p>235.00</p>
                                    </div>
                                </div>
                            </div>

                            <div class="img-text">

                                <div class="img">
                                    <a href=""><img src="./assets/img/headphones3.jfif" alt=""></a>
                                </div>
                                <div class="texts">
                                    <div class="text1">
                                        <a href="">
                                            <p>Ultra Whitte Wireless</p>
                                        </a>
                                    </div>
                                    <div class="icons">
                                        <i class="fa-solid fa-star text-warning"></i>
                                        <i class="fa-solid fa-star text-warning"></i>
                                        <i class="fa-solid fa-star text-warning"></i>
                                        <i class="fa-solid fa-star text-warning"></i>
                                        <i class="fa-solid fa-star text-warning"></i>
                                    </div>
                                    <div class="text2">
                                        <p>350.00</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-lg-4 col-md-4 col-sm-12 cols">
                    <div class="carts">
                        <div class="cart1">
                            <h4>Top Selling Products</h4>
                            <div class="img-text">

                                <div class="img">
                                    <a href=""><img src="./assets/img/laptops1.png" alt=""></a>
                                </div>
                                <div class="texts">
                                    <div class="text1">
                                        <a href="">
                                            <p>Tablet Red 8500U 2TB</p>
                                        </a>

                                    </div>
                                    <div class="icons">
                                        <i class="fa-solid fa-star text-warning"></i>
                                        <i class="fa-solid fa-star text-warning"></i>
                                        <i class="fa-solid fa-star text-warning"></i>
                                        <i class="fa-solid fa-star text-warning"></i>
                                        <i class="fa-solid fa-star text-warning"></i>
                                    </div>
                                    <div class="text2">
                                        <p>100.00</p>
                                    </div>
                                </div>
                            </div>

                            <div class="img-text">

                                <div class="img">
                                    <a href=""><img src="./assets/img/laptops2.png" alt=""></a>
                                </div>
                                <div class="texts">
                                    <div class="text1">
                                        <a href="">
                                            <p>Ellite Pro Book 15'6 7500U</p>
                                        </a>
                                    </div>
                                    <div class="icons">
                                        <i class="fa-solid fa-star text-warning"></i>
                                        <i class="fa-solid fa-star text-warning"></i>
                                        <i class="fa-solid fa-star text-warning"></i>
                                        <i class="fa-solid fa-star text-warning"></i>
                                        <i class="fa-solid fa-star text-warning"></i>
                                    </div>
                                    <div class="text2">
                                        <p>850.00</p>
                                    </div>
                                </div>
                            </div>

                            <div class="img-text">

                                <div class="img">
                                    <a href=""><img src="./assets/img/laptops3.png" alt=""></a>
                                </div>
                                <div class="texts">
                                    <div class="text1">
                                        <a href="">
                                            <p>Tablet VX3000 Extra Light</p>
                                        </a>
                                    </div>
                                    <div class="icons">
                                        <i class="fa-solid fa-star text-warning"></i>
                                        <i class="fa-solid fa-star text-warning"></i>
                                        <i class="fa-solid fa-star text-warning"></i>
                                        <i class="fa-solid fa-star text-warning"></i>
                                        <i class="fa-solid fa-star text-warning"></i>
                                    </div>
                                    <div class="text2">
                                        <p>850.00</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="col-lg-4 col-md-4 col-sm-12 cols">
                    <div class="carts">
                        <div class="cart1">
                            <h4>Hot Offer</h4>
                            <div class="img-text">

                                <div class="img">
                                    <a href=""><img src="./assets/img/laptops4.png" alt=""></a>
                                </div>
                                <div class="texts">
                                    <div class="text1">
                                        <a href="">
                                            <p>Tablet VX4000 8500 3TB</p>
                                        </a>


                                    </div>
                                    <div class="icons">
                                        <i class="fa-solid fa-star text-warning"></i>
                                        <i class="fa-solid fa-star text-warning"></i>
                                        <i class="fa-solid fa-star text-warning"></i>
                                        <i class="fa-solid fa-star text-warning"></i>
                                        <i class="fa-solid fa-star text-warning"></i>
                                    </div>
                                    <div class="text2">
                                        <p>940.00</p>
                                    </div>
                                </div>
                            </div>

                            <div class="img-text">

                                <div class="img">
                                    <a href=""><img src="./assets/img/laptops5.png" alt=""></a>
                                </div>
                                <div class="texts">
                                    <div class="text1">
                                        <a href="">
                                            <p>Laptop Sens 7200L</p>
                                        </a>
                                    </div>
                                    <div class="icons">
                                        <i class="fa-solid fa-star text-warning"></i>
                                        <i class="fa-solid fa-star text-warning"></i>
                                        <i class="fa-solid fa-star text-warning"></i>
                                        <i class="fa-solid fa-star text-warning"></i>
                                        <i class="fa-solid fa-star text-warning"></i>
                                    </div>
                                    <div class="text2">
                                        <p>760.00</p>
                                    </div>
                                </div>
                            </div>

                            <div class="img-text">

                                <div class="img">
                                    <a href=""><img src="./assets/img/laptops6.png" alt=""></a>

                                </div>
                                <div class="texts">
                                    <div class="text1">
                                        <a href="">
                                            <p>Laptop XS3000 WiFi Smart</p>
                                        </a>
                                    </div>
                                    <div class="icons">
                                        <i class="fa-solid fa-star text-warning"></i>
                                        <i class="fa-solid fa-star text-warning"></i>
                                        <i class="fa-solid fa-star text-warning"></i>
                                        <i class="fa-solid fa-star text-warning"></i>
                                        <i class="fa-solid fa-star text-warning"></i>
                                    </div>
                                    <div class="text2">
                                        <p>1,200.00</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main>